# This is a example .env.local file.
# Duplicate this file as .env.local in the root of the project
# remove the .example extension 
# and update the environment variables to match your
# desired config
# NOTE: example file was generated using: env-sync package
 
PORT= 
API= 
